{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load can %}

{% block title %}
  {{ course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item active">{{ course.code }}</li>
{% endblock %}

{% block content %}

  {% can course request.user 'task.edit' as can_edit %}
  {% can course request.user 'task.delete' as can_delete %}

  <h1>{{ course.code }}</h1>
  <span>{{ course.academic_year }} - Semester {{ course.semester }}</span>

  {% if can_edit %}
  <hr>
  <div class="mb-4">
    <a href="{% url 'task_new' course.pk %}" class="btn btn-primary">{% fa5_icon 'plus-circle' 'fas' %} New task</a>
  </div>
  {% else %}
  <br><br>
  {% endif %}

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Task</th>
          <th>Deadline</th>
          <th>Opened At</th>
          <th>Status</th>
          {% if can_edit or can_delete %}
          <th>Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for task in course.tasks.all %}
          <tr>
            <td class="align-middle">
              <a href="{% url 'submissions' course.pk task.pk %}">{{ task.name }}</a>
              <small class="text-muted d-block">{{ task.description }}</small>
            </td>
            <td class="align-middle">{{ task.closed_at }}</td>
            <td class="align-middle">{{ task.opened_at }}</td>
            <td class="align-middle">{{ task.get_status_display }}</td>
            {% if can_edit or can_delete %}
            <td>
              {% if can_edit %}
              <a href="{% url 'task_edit' course.pk task.pk %}" class="btn btn-primary">{% fa5_icon 'edit' 'fas' %}</a>
              {% endif %}
              {% if can_delete %}
              <a href="{% url 'task_delete' course.pk task.pk %}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">{% fa5_icon 'trash-alt' 'fas' %}</a>
              {% endif %}
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}