{% extends 'base.html' %}

{% load can %}
{% load fontawesome_5 %}

{% block title %}
  Leaderboard - {{ task.name }} - {{ task.course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' task.course.pk %}">{{ task.course.code }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'submissions' task.course.pk task.pk %}">{{ task.name }}</a></li>
  <li class="breadcrumb-item active">Leaderboard</li>
{% endblock %}

{% block content %}
  {% can task.course request.user 'task.edit' as can_edit %}

  <h1>Leaderboard</h1>

  <div class="mb-4">
    {% if can_edit %}
      <a href="{% url 'leaderboard' task.course.pk task.pk %}?download" class="btn btn-success">{% fa5_icon 'file-excel' 'fas' %} Export to XLS</a>
    {% endif %}
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Rank</th>
          <th>Username</th>
          <th>Name</th>
          <th>Point</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
          <tr>
            <td class="align-middle">{{ forloop.counter }}</td>
            <td class="align-middle">{{ submission.user }}</td>
            <td class="align-middle">{{ submission.user.first_name }} {{ submission.user.last_name }}</td>
            <td class="align-middle">{{ submission.point }}</td>
            <td class="align-middle">{{ submission.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}