{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block title %}
  New Submission - {{ form.instance.task.name }} - {{ form.instance.task.course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' form.instance.task.course.pk %}">{{ form.instance.task.course.code }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'submissions' form.instance.task.course.pk form.instance.task.pk %}">{{ form.instance.task.name }}</a></li>
  <li class="breadcrumb-item active">New Submission</li>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <script type="text/javascript">
    var runner_elem = document.getElementById('id_runner');
    var file_elem = document.getElementById('div_id_file');
    var docker_elem = document.getElementById('div_id_docker');

    function onRunnerChange(){
      var index = runner_elem.selectedIndex;
      var inputText = runner_elem.children[index].innerHTML.trim();
      if(inputText == 'Python'){
        docker_elem.style.display = 'none';
        file_elem.style.display = 'block';
      }
      if(inputText == 'Docker'){
        docker_elem.style.display = 'block';
        file_elem.style.display = 'none';
      }
    }
    runner_elem.onchange = onRunnerChange
    onRunnerChange();
  </script>
{% endblock %}