{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load submission_is_allowed %}
{% load can %}
{% load define %}
{% load prettyjson %}
{% load staticfiles updateable %}
{% load addstr %}

{% block extrahead %}
  {% prettyjson_setup %}

  <script>
    updateableSettings = {
      timeout: 5000,
      callback: function() {
        pause_on_complete();
        beautify_json();
      }
    };

    function need_update(){
      var update_classes = ['fa-clock', 'fa-cog'];
      var total_length = 0;
      update_classes.forEach(function (item, index) {
        total_length += document.getElementsByClassName(item).length;
      });
      return total_length > 0;
    }

    function pause_on_complete(){
      if(!need_update()){
        updateableSettings.pause();
      }
    }

    function beautify_json(){
      $(document).find('div-submission').each(function(index, item){
        var name = item.dataset['updateable'];
        try {
          var json = JSON.parse(item.innerHTML);
          $('#'+name+'-view').JSONView(json, { collapsed: true });
        } catch { }
      });
    }
  </script>
  <script src='{% static 'updateable.js' %}'></script>
{% endblock %}

{% block title %}
  {{ task.name }} - {{ task.course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' task.course.pk %}">{{ task.course.code }}</a></li>
  <li class="breadcrumb-item active">{{ task.name }}</li>
{% endblock %}

{% block content %}

  {% submission_is_allowed task request.user as submission_allowed %}
  {% can task.course request.user 'task.submit' as can_submit %}
  {% can task.course request.user 'submission.view' as can_view_all %}

  {% if submission_allowed and can_submit and task.is_open %}
    {% define "btn-primary" as button_decorator %}
  {% else %}
    {% define "btn-secondary" as button_decorator %}
  {% endif %}

  <h1>{{ task.name }}</h1>
  <span>{{ task.description }}</span>
  <br><br>

  <div class="card">
    <div class="card-body">
	{{ task.daily_submission_limit }} max daily submission(s), 
        {{ task.max_upload_size }} KB max size, 
        {{ task.run_time_limit }} second(s) time limit.
    </div>
  </div>

  <br> 

  <div class="mb-4">
    <a href="{% url 'submission_new' task.course.pk task.pk %}" class='btn {{ button_decorator }}'>{% fa5_icon 'plus-circle' 'fas' %} New submission</a>
    {% if task.leaderboard %}
      <a href="{% url 'leaderboard' task.course.pk task.pk %}" class="btn btn-success">{% fa5_icon 'crown' 'fas' %} Leaderboard</a>
    {% endif %}
    {% if can_view_all and not view_all %}
      <a href="{% url 'submissions' task.course.pk task.pk %}?all" class="btn btn-info">{% fa5_icon 'list-ul' 'fas' %} View All</a>
    {% endif %}
    {% if can_view_all and view_all %}
      <a href="{% url 'submissions' task.course.pk task.pk %}" class="btn btn-info">{% fa5_icon 'list-ul' 'fas' %} View Mine</a>
    {% endif %}
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          {% if view_all %}
          <th>User</th>
          {% endif %}
          <th>Submission</th>
          <th>Point</th>
          <th>Evaluations</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions.all %}
          <tr>
            {% if view_all %}
            <td class="align-middle">
              <div class="row">
                <div class="col-12">{{ submission.user }}</div>
              </div>
            </td>
            {% endif %}
            <td class="align-middle">
              <div class="row">
                {% if submission.file %}
                <div class="col-1">{% fa5_icon 'file' 'fas' %}</div>
                <div class="col-8" style="overflow-wrap: break-word">
                  <a href="{% url 'submission_download' submission.pk %}">{{ submission.filename }}</a>
                  {% if submission.description %}<br><small>{{ submission.description }}</small>{% endif %}
                </div>
                {% elif submission.docker %}
                <div class="col-1">{% fa5_icon 'stream' 'fas' %}</div>
                <div class="col-8">
                  {{ submission.docker }}<br>
                  {% if submission.description %}<br><small>{{ submission.description }}</small>{% endif %}
                </div>
                {% else %}
                <div class="col-9">None</div>
                {% endif %}
                <div class="col-1">
                  {% if submission.runner == 'PY' %}
                    {% fa5_icon 'python' 'fab' %}
                  {% elif submission.runner == 'DO' %}
                    {% fa5_icon 'docker' 'fab' %}
                  {% else %}
                    {{ submission.runner }}
                  {% endif %}
                </div>
                <div class="col-1">
                  {% with "submission-"|addstr:submission.pk|addstr:"-status" as updateable_id %}
                    {% updateable updateable_id div %}
                      {% if submission.status == 'Q' %}
                        {% fa5_icon 'clock' 'fas' color='DodgerBlue' %}
                      {% elif submission.status == 'R' %}
                        {% fa5_icon 'cog' 'fas' color='Orange' spin=True %}
                      {% elif submission.status == 'D' %}
                        {% fa5_icon 'check-circle' 'fas' color='ForestGreen' %}
                      {% elif submission.status == 'E' %}
                        {% fa5_icon 'times-circle' 'fas' color='red' %}
                      {% else %}
                        {{ submission.status }}
                      {% endif %}
                    {% endupdateable %}
                  {% endwith %}
                </div>
              </div>
            </td>
            <td class="align-middle">
              {% with "submission-"|addstr:submission.pk|addstr:"-point" as updateable_id %}
                {% updateable updateable_id div %}
                {{ submission.point }}
                {% endupdateable %}
              {% endwith %}
            </td>
            <td class="align-middle">
              <div id="submission-{{ submission.pk }}-notes-view">
                {% with "submission-"|addstr:submission.pk|addstr:"-notes" as updateable_id %}
                  {% updateable updateable_id div-submission %}
                  {{ submission.notes }}
                  {% endupdateable %}
                {% endwith %}
              </div>
            </td>
            <td class="align-middle">{{ submission.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
