{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load submission_is_allowed %}
{% load can %}
{% load define %}
{% load prettyjson %}
{% load static updateable %}
{% load addstr %}
{% load autolink %}
{% load query_transform %}
{% load suggestion %}

{% block extrahead %}
  {% prettyjson_setup %}

  <style>
    ul.button-list {
    	padding: 0px;
    	list-style: none;
    }

    ul.button-list > li {
    	margin-right: 5px;
    	margin-bottom: 5px;
    	display: inline-block;
    }

    tr.collapsible > td {
      padding: 0px;
      border-top: 0px;
    }

    .vcenter {
      display: flex;
      align-items: center;
    }

    .clickable.collapsed:hover {
      background-color: #ecf0f1;
    }

    .clickable {
      background-color: #D6EAF8;
      cursor: pointer;
    }

    .clickable.collapsed {
      background-color: white;
    }

    .flash-box {
      -webkit-animation-name: flash-anim; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
      animation-name: flash-anim;
      animation-duration: 1.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; 
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes flash-anim {
      from {background-color: rgba(255, 255, 0, 0.0);}
      to {background-color: rgba(255, 255, 0, 0.30);}
    }

    /* Standard syntax */
    @keyframes flash-anim {
      from {background-color: rgba(255, 255, 0, 0.0);}
      to {background-color: rgba(255, 255, 0, 0.30);}
    }
  </style>

  <script>
    updateableSettings = {
      timeout: 5000,
      callback: function() {
        pause_on_complete();
        beautify_json();
      }
    };

    function need_update(){
      var update_classes = ['fa-clock', 'fa-cog'];
      var total_length = 0;
      update_classes.forEach(function (item, index) {
        total_length += document.getElementsByClassName(item).length;
      });
      return total_length > 0;
    }

    function pause_on_complete(){
      if(!need_update()){
        updateableSettings.pause();
      }
    }

    function beautify_json(){
      $(document).find('div-submission').each(function(index, item){
        var name = item.dataset['updateable'];
        try {
          var json = JSON.parse(item.innerHTML);
          $('#'+name+'-view').JSONView(json, { collapsed: false });
        } catch { }
      });
    }
  </script>
  <script src='{% static 'updateable.js' %}'></script>
{% endblock %}

{% block title %}
  {{ task.name }} - {{ task.course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' task.course.pk %}">{{ task.course.code }}</a></li>
  <li class="breadcrumb-item active">{{ task.name }}</li>
{% endblock %}

{% block content %}

  {% submission_is_allowed task request.user as submission_allowed %}
  {% can task.course request.user 'task.edit' as can_edit %}
  {% can task.course request.user 'task.submit' as can_submit %}
  {% can task.course request.user 'submission.view' as can_view_all %}
  {% can task.course request.user 'submission.rerun' as can_rerun %}

  {% if can_edit or submission_allowed and can_submit and task.is_open %}
    {% define "btn-primary" as button_decorator %}
  {% else %}
    {% define "btn-secondary" as button_decorator %}
  {% endif %}

  <h1>{{ task.name }}</h1>
  <span>{{ task.description }}</span>

  <div class="card" style="margin-top:20px; margin-bottom:20px">
    <div class="card-body">
	{{ task.daily_submission_limit }} max daily submission(s), 
        {{ task.max_upload_size }} KB max size, 
        {{ task.run_time_limit }} second(s) time limit.
    </div>
  </div> 

  <form action="{% url 'submissions_action' %}" method="post">
    {% csrf_token %}

    <div class="d-flex justify-content-between">
      <div>
         <ul class="button-list">
            <li><a href="{% url 'submission_new' task.course.pk task.pk %}" class='btn {{ button_decorator }}'>{% fa5_icon 'plus-circle' 'fas' %} New submission</a></li>
            {% if task.template %}
            <li><a href="{% url 'template_download' task.pk %}" class='btn {{ button_decorator }} btn-secondary'>{% fa5_icon 'download' 'fas' %} Download Template</a></li>
            {% endif %}
            {% if can_edit or task.leaderboard %}
            <li><a href="{% url 'leaderboard' task.course.pk task.pk %}" class="btn btn-success">{% fa5_icon 'crown' 'fas' %} Leaderboard</a></li>
            {% endif %}
            {% if can_edit %}
            <li><a href="{% url 'stats' task.course.pk task.pk %}" class="btn btn-success">{% fa5_icon 'signal' 'fas' %} Stats</a></li>
              {% if task.template %}
              <li><a href="{% url 'similarities' task.course.pk task.pk %}" class="btn btn-success">{% fa5_icon 'copy' 'fas' %} Similarities</a></li>
              {% endif %}
            {% endif %}
            {% if can_view_all and not view_all %}
              <li><a href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request others=1 %}" class="btn btn-info">{% fa5_icon 'list-ul' 'fas' %} View Others</a></li>
            {% endif %}
            {% if can_view_all and view_all %}
            <li><a href="{% url 'submissions' task.course.pk task.pk %}" class="btn btn-info">{% fa5_icon 'list-ul' 'fas' %} View Less</a></li>
            {% endif %}
            {% if can_rerun %}
            <li><button type="submit" name="rerun" class="btn btn-info">{% fa5_icon 'redo' 'fas' %} Re-Run</button></li>
            {% endif %}
          </ul>
      </div>
      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Per Page</div>
          </div>
           <select name="per_page" id="per_page" class="custom-select">
            {% for pp in per_page_options %}
              {% if pp == submissions.paginator.per_page %}
              ansdanda
              <option selected="selected" value="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
                {% else %}
              <option value="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    
   
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            {% if can_edit %}
            <th>#</th>
            {% endif %}
            <th>ID</th>
            {% if view_all %}
            <th>User</th>
            <th>Name</th>
            {% endif %}
            <th>Submission</th>
            <th>Size</th>
            <th>Verdict</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
            {% if submission.status == 'R' %}
            <tr class="flash-box clickable collapsed" data-toggle="collapse" href="#collapse-evaluation-{{submission.pk}}" role="button" aria-expanded="false" data-tooltip="tooltip" data-placement="bottom" title="Click to expand">
            {% else %}
            <tr class="clickable collapsed" data-toggle="collapse" href="#collapse-evaluation-{{submission.pk}}" role="button" aria-expanded="false" data-tooltip="tooltip" data-placement="bottom" title="Click to expand / contract">
            {% endif %}
              {% if can_edit %}
              <td class="align-middle">
                <div class="row">
                  <div class="col-12">
                    <input type="checkbox" name="submissions_selected[]" value="{{ submission.pk }}" />
                  </div>
                </div>
              </td>
              {% endif %}
              <td class="align-middle">
                <div class="row">
                  <div class="col-12">{{ submission.pk }}</div>
                </div>
              </td>
              {% if view_all %}
              <td class="align-middle">
                <div class="row">
                  <div class="col-12">{{ submission.user }}</div>
                </div>
              </td>
              <td class="align-middle">
                <div class="row">
                  <div class="col-12">{{ submission.user.first_name }} {{ submission.user.last_name }}</div>
                </div>
              </td>
              {% endif %}
              <td class="align-middle">
                <div class="row vcenter">
                  {% if submission.file %}
                  <div class="col-1">{% fa5_icon 'file' 'fas' %}</div>
                  <div class="col-8" style="overflow-wrap: break-word">
                    <a href="{% url 'submission_download' submission.pk %}">{{ submission.filename }}</a>
                    {% if submission.description %}<br><small>{{ submission.description }}</small>{% endif %}
                  </div>
                  {% elif submission.docker %}
                  <div class="col-1">{% fa5_icon 'stream' 'fas' %}</div>
                  <div class="col-8">
                    {{ submission.docker }}<br>
                    {% if submission.description %}<br><small>{{ submission.description }}</small>{% endif %}
                  </div>
                  {% else %}
                  <div class="col-9">None</div>
                  {% endif %}
                  <div class="col-1">
                    {% if submission.runner == 'PY' %}
                      {% fa5_icon 'python' 'fab' %}
                    {% elif submission.runner == 'DO' %}
                      {% fa5_icon 'docker' 'fab' %}
                    {% else %}
                      {{ submission.runner }}
                    {% endif %}
                  </div>
                  <div class="col-1 text-center">
                    {% with "submission-"|addstr:submission.pk|addstr:"-status" as updateable_id %}
                      {% updateable updateable_id div %}
                        {% if submission.status == 'Q' %}
                          {% fa5_icon 'clock' 'fas' color='DodgerBlue' %} {{ submission.queue }}
                        {% elif submission.status == 'R' %}
                          {% fa5_icon 'cog' 'fas' color='Orange' spin=True %}
                        {% elif submission.status == 'D' %}
                          {% fa5_icon 'check-circle' 'fas' color='ForestGreen' %}
                        {% elif submission.status == 'E' %}
                          {% fa5_icon 'times-circle' 'fas' color='red' %}
                        {% else %}
                          {{ submission.status }}
                        {% endif %}
                      {% endupdateable %}
                    {% endwith %}
                  </div>
                </div>
              </td>
	      <td class="align-middle">{{ submission.file_size | filesizeformat }}</td>
              <td class="align-middle">
                {% with "submission-"|addstr:submission.pk|addstr:"-point" as updateable_id %}
                  {% updateable updateable_id div %}
                  {{ submission.info | autolink }}
                  {% endupdateable %}
                {% endwith %}
                {% if submission.is_late %}<span class="badge badge-danger">Late</span>{% endif %}
              </td>
              <td class="align-middle">{{ submission.created_at }}</td>
            </tr>
            <tr class="collapsible">
              <td colspan="10">
                <div class="collapse" id="collapse-evaluation-{{submission.pk}}">
                  <div class="card card-body">
                    <small style="font-weight: bold;">EVALUATION:</small>
                    <div id="submission-{{ submission.pk }}-notes-view">
                      {% with "submission-"|addstr:submission.pk|addstr:"-notes" as updateable_id %}
                        {% updateable updateable_id div-submission %}
                        {{ submission.notes }}
                        {% endupdateable %}
                      {% endwith %}
                    </div>
                    <hr>
                    <small style="font-weight: bold;">SUGGESTION:</small>
                    {% with "submission-"|addstr:submission.pk|addstr:"-suggestion" as updateable_id %}
                      {% updateable updateable_id div-submission %}
                      {{ submission.notes | suggestion }}
                      {% endupdateable %}
                    {% endwith %}
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if submissions.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center flex-wrap">
        {% if submissions.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=1 %}" tabindex="-1">{% fa5_icon 'angle-double-left' 'fas' %}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=submissions.previous_page_number %}" tabindex="-1">{% fa5_icon 'angle-left' 'fas' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-double-left' 'fas' %}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-left' 'fas' %}</a>
        </li>
        {% endif %}
        {% for l in  submissions.paginator.page_range %}
          {% if l <= submissions.number|add:5 and l >= submissions.number|add:-5 %}
            {% if l == submissions.number %}
            <li class="page-item active">
              <span class="page-link">
                <span>{{forloop.counter}}</span>
              </span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=forloop.counter %}">{{forloop.counter}}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if submissions.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=submissions.next_page_number %}" tabindex="-1">{% fa5_icon 'angle-right' 'fas' %}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=submissions.paginator.num_pages %}" tabindex="-1">{% fa5_icon 'angle-double-right' 'fas' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-right' 'fas' %}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-double-right' 'fas' %}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </form>
  <script type="text/javascript">
    $("#per_page").change(function(e) {
       window.location.href = $(this).val();
    });

    $(document).ready(function() {
      $(document).on('click', '.clickable input', function(event){
        event.stopPropagation();
      });

      $(document).on('click', '.clickable a', function(event){
        event.stopPropagation();
      });

      $('[data-tooltip="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
