{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block title %}
  {{ form.instance.name | default:"New Task" }} - {{ form.instance.course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' form.instance.course.pk %}">{{ form.instance.course.code }}</a></li>
  <li class="breadcrumb-item active">{{ form.instance.name | default:"New Task" }}</li>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    {% crispy form %}
  </form>
{% endblock %}